FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_KEY_PATH=
DEVICE_ID=
DEVICE_NAME=
DEVICE_LAT=
DEVICE_LNG=
CONFIDENCE_THRESHOLD=
ALERT_COOLDOWN_SECONDS=
CAMERA_INDEX=
DETECTION_INTERVAL_SECONDS=
MODEL_PATH=
EMERGENCY_SMS_NUMBER=
LED_PIN=
GSM_TX_PIN=
GSM_RX_PIN=
GSM_RST_PIN=
GSM_PORT=
GSM_BAUD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
